<div style="height: 80vh" class="container text-center p-5 mb-10 d-flex flex-column justify-content-between align-items-center">
  <h1 class="mt-5">FAYOB</h1><br><br><br>
  <div class='w-100'>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary w-75" %> <br><br>
    <%= link_to "Log in", user_session_path, class: "btn btn-success w-75" %>
  </div>
</div>