<p>This is show page</p>
<% if @category.transacts.empty? %>
  <p>You have no transaction in this category</p>
<% else %>
  <% sum = 0%>
  <% @category.transacts.each do |transact| %>
    <% sum += transact.amount %>
  <% end %>
  <h4>Total Amount Spent: <%= sum %> </h4>
  <div>
    <% @category.transacts.each do |transact| %>
    <h5> <%= transact.name %> </h5>
    <h6>Amount: <%= transact.amount %>  </h6>
  <% end %>
  </div>
<% end %>